<!--   Core   -->

<script src="/static/assets/js/plugins/jquery/dist/jquery.min.js"></script>

<!-- <script src="/static/assets/three/potree-main/libs/jquery/jquery-3.1.1.min.js"></script> -->
<script src="/static/assets/three/potree-main/libs/spectrum/spectrum.js"></script>
<script src="/static/assets/three/potree-main/libs/jquery-ui/jquery-ui.min.js"></script>

<script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<script src="/static/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>

<!--   G.Maps   -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!--   Argon JS   -->
<script src="/static/assets/js/argon-dashboard.min.js?v=1.1.0"></script>

<!-- Element and Compat View Panels behaviour JS -->
<script src="/static/assets/js/panel-behavior.js"></script>


<script type="module" src="/static/assets/js/compat-view.js"></script>