/* General panel properties start */

.panel {
    position: fixed;
    border-radius: 5px;
    z-index: 11;
    background-color: #3b3a3a;
    color: #FFFFFF;
    font-weight: bold;
}

.panel .btn {
    margin-right: 0;
}

.panel-content div:not(:first-child) {
    margin-top: 5px;
}

.panel-content {
    background-color: #000000;
    border-radius: 5px;
    padding: 5px;
}

#element-panel-select , #compat-panel-select {
    background-color: #3b3a3a;
    color: #FFFFFF;
    font-size: 8px;
    width: 100%;
    border-radius: 5px;
    padding-bottom: 1px;
}


/* General panel properties end */


/* Element panel properties start */

#element-view-panel {
    margin-left: 5px;
    /* margin-bottom: 10px; */
    bottom: 10px;
    float: left;
}

#element-panel-content *:not(#element-panel-info) {
    text-align: center;
}

#element-panel-info,
#compat-panel-info {
    max-width: 150px;
    max-height: 50px;
    overflow-y: auto;
    color: #ffffff;
    font-weight: normal;
}


/* Element panel properties end */


/* Compat panel properties start */

#compat-panel {
    /* margin-right: 135px; */
    right: 5px;
    bottom: 10px;
    float: right;
}

#compat-panel-content *:not(#compat-panel-info) {
    text-align: center;
}


/* Compat panel properties end */


/* Canvas properties start */

.subcanvas {
    /* position: fixed; */
    width: 10em;
    height: 10em;
    /* padding-top: 50%; */
    /* background-color: #ffffff; */
    /* background: rgb(2, 0, 36);
    background: linear-gradient(360deg, rgba(2, 0, 36, 1) 0%, rgba(31, 41, 170, 1) 38%, rgba(0, 212, 255, 1) 100%); */
    background-image: url('../img/canvas-bg.jpg');
}


/* Canvas properties end */


/* Media queries */

@media screen and (max-width: 765px) {
    #compat-panel {
        bottom: 70px;
    }
}