
/* General modal properties start */

.modal .modal-body,
.modal .modal-content {
    background-color: #232528;
}

.modal-header {
    padding: 0;
    background-color: #5A646B;
    color: #ffffff;
}

.modal-dialog {
    margin: 0;
    overflow-y: initial !important
}

.dropdown-item {
    /* padding: 0em 0.4em; */
    padding: 0em 0.4rem;
}

.modal-body {
    background-color: #232528;
}

.info-span-parent {
    line-height: 1.5rem;
    font-size: smaller;
    max-width: 10rem;
    /* max-width: 50%; */
    overflow: hidden;
}


/* General modal properties end */


/* Element Modal properties start*/

.modal-container {
    width: 100%;
    height: 100%;
}

#element-modal .row,
#compat-modal .row {
    /* margin-top: 0.5em; */
    margin-bottom: 0.5rem;
}

#element-modal .modal-body,
#compat-modal .modal-body {
    padding: 0.5rem;
}

#element-modal .close,
#compat-modal .close {
    display: none;
}

.element-info {
    height: 3rem;
    overflow-y: auto;
    color: #ffffff;
}

#element-dropdown,
.btn-element-modal,
#compat-dropdown {
    margin: 0% auto;
}

#element-dropdown-menu,
#compat-dropdown-menu {
    max-height: 100px;
    overflow-y: auto;
    min-width: 100%;
    font-size: smaller;
}

#element-modal {
    position: fixed;
    /* display: inline-block; */
    top: unset;
    bottom: 2%;
    left: 2%;
    /* transform: translate(-50%, -50%); */
    width: fit-content;
    /* height: 20em; */
    height: fit-content;
    padding: 0 !important;
}


/* Element Modal properties end*/

/* Canvas properties */

.subcanvas {
    /* position: fixed; */
    width: 10em;
    height: 10em;
    /* padding-top: 50%; */
    /* background-color: #ffffff; */
    /* background: rgb(2, 0, 36);
    background: linear-gradient(360deg, rgba(2, 0, 36, 1) 0%, rgba(31, 41, 170, 1) 38%, rgba(0, 212, 255, 1) 100%); */
    background-image: url('../img/canvas-bg.jpg');
}

@media screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }
}