.controlSchedule{
    margin-left: 3px;
    margin-top: 3px;
    float: left;
    position: fixed;
    border-radius: 5px;
    z-index: 11;  
    background-color: #3b3a3a;
    color: #FFFFFF;
    font-weight: bold;
}
.informationSchedule{
    margin-right: 3px;
    float: right;
    position: fixed;
    border-radius: 5px;
    z-index: 10;  
    right: 0px;
    top: 76px;
    background-color: #3b3a3a;
    color: #FFFFFF;
    font-weight: bold;  
  }

#controlInputs{
    background-color: #000000;
    border-radius: 5px;
    padding: 5px;
  }
  
#daySchedule{
    background-color: #3b3a3a; 
    color: #FFFFFF; 
    font-size: 8px; 
    width:100%; 
    border-radius:5px;
    padding-bottom: 1px;
  }
  
#timelineSchedule{
    background-color: #3b3a3a ;
    color: #FFFFFF; 
    width: 30%; 
    position:fixed; 
    right: 20%; 
    bottom: 41%; 
    text-align: center; 
    font-weight: bold; 
    border-radius: 5px;
}
  
.bimdiv{
    padding-top: 5px;
  }
  
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #2196F3;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }
  
body {
    overflow: scroll !important;
  }
  
svg{
    overflow:scroll !important;
  }
  
.gantt-container{
    overflow: scroll !important;
    height:101%;
}

  
#mainContainerSchedule {
    position: fixed;
    top: 0;
    right: 0;
    left: 250px;
    bottom: 0;
}
  
#potreeContainerSchedule {
    position: fixed;
    top: 0;
    right: 0;
    left: 250px;
    bottom: 40%;
    z-index: -1;
    text-align:center;
    background: gray; 
}
  
#potreecanvasSchedule{
    background: gray; 
    position: relative; 
    width: 100%; 
    height: 100%; 
    top:0; 
    z-index: -1;
    cursor: grab; 
    display: block;
}
  
#gantt-target{
    position: fixed;
    top: 60%;
    right: 0;
    left: 250px;
    bottom: 0;
    text-align:center;
}
  
@media screen and (max-width: 749px) {
    body {
        overflow: scroll !important;
      }
      
    svg{
        overflow:scroll !important;
      }
      
    .gantt-container{
        overflow: scroll !important;
        height:101%;
    }
    #mainContainerSchedule {
        position: fixed;
        top: 60px;
        right: 0;
        left: 0;
        bottom: 0;
    }
      
    #potreeContainerSchedule {
        position: fixed;
        top: 60px;
        right: 0;
        left: 0;
        bottom: 40%;
        z-index: -1;
        text-align:center;
        background: gray; 
    }
      
    #potreecanvasSchedule{
        background: gray; 
        position: relative; 
        width: 100%; 
        height: 100%; 
        top:0; 
        z-index: -1;
        cursor: grab; 
        display: block;
    }
      
    #gantt-target{
        position: fixed;
        top: 60%;
        right: 0;
        left: 0;
        bottom: 0;
        text-align:center;
    }

    .controlSchedule{
        margin-left: 3px;
        margin-top: 3px;
        float: left;
        position: fixed;
        border-radius: 5px;
        z-index: 11;  
        background-color: #3b3a3a;
        color: #FFFFFF;
        font-weight: bold;
        top: 60px;
    }

    .informationSchedule{
        margin-right: 3px;
        float: right;
        position: fixed;
        border-radius: 5px;
        z-index: 10;  
        right: 0px;
        top: 60px;
        background-color: #3b3a3a;
        color: #FFFFFF;
        font-weight: bold;  
      }
}
  
