{% extends 'layouts/base.html' %}

{% block title %} View {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="control small" >
		<div class ="text-center ">CONTROL</div>
		<div id = "controlInputs">
			<select class="custom-select-sm" id="day" data-size="4">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
			<div class ="bimdiv">
				<label class="switch">
					<input type="checkbox" id ="bim" checked>
					<span class="slider round"></span>
				  </label>
				  <label>BIM</label>
			</div>
			<div>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				  </label>
				  <label>Image</label>
			</div>
			<div>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				  </label>
				  <label>UV / Laser</label>
			</div> 
		</div>
	</div>

	<!-- Element View Panel -->
	<div id="element-view-panel" class="panel small">
		<div class="panel-header">
			<div class ="text-center">ELEMENT VIEW</div>
		</div>
		<div class="panel-content" id="element-panel-content">
			<div id="element-panel-buttons">
				<button id="element-modal-compat-btn" class="btn btn-light btn-element-modal btn-sm">Compatibility Check</button>
				<button id="element-modal-viewmode-btn" class="btn btn-light btn-element-modal btn-sm">View Mode</button>
			</div>
			<div id="element-panel-dropdown">
				<select class="custom-select-sm" id="element-panel-select" data-size="4">
					<option>No Elements Loaded</option>
				</select>
			</div>
			<div class="dropdown-element-info-div" id="element-panel-info">
				<span id="element-info-span">Info: </span>
			</div> 
			<div id="element-panel-canvas">
				<canvas class="subcanvas" id="element-canvas"></canvas>
			</div>
		</div>
	</div>

	<!-- Compatibility Panel -->
	<div id="compat-panel" class="panel small">
		<div class="panel-header">
			<div class ="text-center">COMPATIBILITY VIEW</div>
		</div>
		<div class="panel-content" id="compat-panel-content">
			<div id="compat-panel-buttons">
				<button id="compat-modal-bring-btn" class="btn btn-light btn-sm">Bring Element</button>
				<button id="compat-modal-symbol-btn" class="btn btn-light btn-sm">></button>
			</div>
			<div id="compat-panel-dropdown">
				<select class="custom-select-sm" id="compat-panel-select" data-size="4">
					<option value="">No Option Selected</option>
					<option value="sphere">Sphere</option>
					<option value="cube">Cube</option>
					<option value="cylinder">Cylinder</option>
				</select>
			</div>
			<div class="dropdown-element-info-div" id="compat-panel-info">
				<span id="compat-info-span">Info: </span>
			</div>
			<div id="compat-panel-canvas">
				<canvas class="subcanvas" id="compat-canvas"></canvas>
			</div>
		</div>
	</div>

	<canvas id="potreecanvas" style="background: gray; position: fixed; width: 100%; height: 100%; left: 0; top:0; z-index: -1;cursor: grab; border:1px solid; display: block;">
	</canvas>

	<!-- <canvas id="bimcanvas" style=" background: gray; height: 20%; width: 300px; position:fixed; margin-left: 1em;; bottom:20px; z-index: 0; border:1px black solid;">
	</canvas> -->

	<div id = "schedule" class ="small" style="width: fit-content;">
		<span>SCHEDULE</span>
		<div style="background-color: #000000 !important; border-radius: 5px;">
			<input id="timeline" type="range" style="transform: translateX(0%);" value="0">
		</div>
	</div>

	<div class="information small">
		<div class ="text-center">INFORMATION</div>
		<div id = "controlInputs">
			<div>
				<label>Frame rate:</label>
				<span id ="frameRate"></span>
			</div>
			<div>
				<label>Points rendered:</label>
			</div>
		</div>
	</div>
	
{% load static %}
	<!-- <script src="static/assets/potree/three.min.js"></script> -->
	<!--<script src="/static/assets/fbx/three.js"></script> -->
	<!--<script src="static/assets/potree/OrbitControls.js"></script> -->
	<!--<script src="static/assets/potree/potree.js"></script>-->
	<!--<script type="module" src="/static/assets/fbx/FBXLoader.js"></script>-->
	
	<!-- <script src="/static/assets/three/build/three.js"></script> -->

	<script src="/static/assets/three/potree-main/libs/proj4/proj4.js"></script>

	<script type="module">

		// import '/static/assets/fbx/three-r130.js';
		// import '/static/assets/fbx/three.module.js';
		import '/static/assets/potree/three.min.js';

		// import '/static/assets/potree/OrbitControls.js';
		// import * as OC from '/static/assets/fbx/OrbitControls.js';
		// import * as DC from '/static/assets/fbx/DragControls.js';
		import * as OC from '/static/assets/fbx/OrbitControls-r110.js';
		import { TransformControls } from '/static/assets/fbx/TransformControls-r110.js';
		
		import '/static/assets/potree/potree.js';
		// import '/static/assets/three/potree-main/build/potree/potree.js';

		import * as EV from "/static/assets/js/element-view.js";
		import * as CV from "/static/assets/js/compat-view.js";
		
		// import '/static/assets/three/build/three.js';
		// import '/static/assets/three/build/three.module.js';

		var scene;

		document.body.onload = function()
			{				
				scene = new THREE.Scene();

				var canvas = document.getElementById("potreecanvas");
				var sidenav = document.getElementById("sidenav");
				var timeline = document.getElementById("timeline");
				
				var width = canvas.width;
				var height = canvas.height;
				
				var camera = new THREE.PerspectiveCamera(60, width / height, 0.1, 100000);
				camera.position.set(-200, 150, -200 );
				
				var renderer = new THREE.WebGLRenderer(
				{
					canvas: canvas,
					alpha: true,
					logarithmicDepthBuffer: true,
					context: null,
					precision: "highp",
					premultipliedAlpha: true,
					antialias: true,
					preserveDrawingBuffer: false,
					powerPreference: "high-performance"
				});

				var transformControl1 = new TransformControls( camera, renderer.domElement ), 
				transformControl2 = new TransformControls( camera, renderer.domElement ), 
				transformControl3 = new TransformControls( camera, renderer.domElement );

				scene.add(new THREE.AmbientLight(0x222222,5));

				var controls = new OC.OrbitControls(camera, canvas);
				controls.autoRotate = false;
				controls.update();

				var raycaster = new THREE.Raycaster();
				raycaster.params.Points.threshold = 1e-2;
				var normalized = new THREE.Vector2();

				canvas.onmousemove = function(event)
				{
					normalized.set((event.clientX / canvas.width) * 2 - 1, -(event.clientY / canvas.height) * 2 + 1);
					raycaster.setFromCamera(normalized, camera);
				}

				canvas.ondblclick = function(event)
				{
					var intesects = raycaster.intersectObject(scene, true);
					
					
					if(intesects.length > 0)
					{
						var geometry = new THREE.SphereBufferGeometry(0.1, 32, 32);
						var material = new THREE.MeshBasicMaterial({color: 0xAA4444});
						var sphere = new THREE.Mesh(geometry, material);
						sphere.position.copy(intesects[0].point);
						scene.add(sphere);
					}
				}

				Potree.Global.workerPath = "./static/assets/source";
				// Potree.scriptPath = "/static/assets/three/potree-main/build/potree";
				// Potree.resourcePath = "https://localhost:8000/static/assets/three/potree-main/build/potree/resources";

				var counter = 1;
				
				function loadPointCloud(url, position)
				{
					Potree.loadPointCloud(url, "pointcloud", function(e)
					{
						var points = new Potree.Group();
						points.setPointBudget(500000);
						points.name = "objectName" + String(counter);
						//points.material.opacity = 0.0;
						//points.material.wireframe = false;
						
						scene.add(points);
	
						var pointcloud = e.pointcloud;

						if(position !== undefined)
						{
							pointcloud.position.copy(position);
						}

						var material = pointcloud.material;
						material.size = 2;
						material.pointColorType = Potree.PointColorType.RGB; //RGB | DEPTH | HEIGHT | POINT_INDEX | LOD | CLASSIFICATION
						material.pointSizeType = Potree.PointSizeType.ADAPTIVE; //ADAPTIVE | FIXED
						material.shape = Potree.PointShape.SQUARE; //CIRCLE | SQUARE

						points.add(pointcloud);
					});
				}
				
				function loadPC(s){
					
					var points = new Potree.Group();
					points.name = "objectName" + String(counter);
					points.setPointBudget(10000000)
					scene.add(points);

					Potree.loadPointCloud(s, name, function(data)
					{
						var pointcloud = data.pointcloud;
						points.add(pointcloud);
					});
					//counter = counter+1;
				}
				
				function getCenterPoint(mesh) {
					var geometry = mesh.geometry;
					geometry.computeBoundingBox();
					var center = new THREE.Vector3();
					geometry.boundingBox.getCenter(center);
					mesh.localToWorld(center);

					return center;
				}

				const loader = new THREE.ObjectLoader();
				let mainObj = null;
				loader.load(
					// resource URL
					"/static/assets/fbx/scene.json",

					// onLoad callback
					// Here the loaded data is assumed to be an object
					function ( obj ) {
						// Add the loaded object to the scene
						obj.position.set(-180, -100, 120);
						obj.name = "BIM";
						
						scene.add( obj );

						mainObj = obj;

						EV.populateElementsDropdown(obj);
					},

					// onProgress callback
					function ( xhr ) {
						console.log( (xhr.loaded / xhr.total * 100) + '% loaded' );
					},

					// onError callback
					function ( err ) {
						console.error( 'An error happened' );
					}
				);

				$("#element-panel-select").change(() => {
					let selectedOptionIndex = $("#element-panel-select").prop('selectedIndex');
					let selectedOptionName = $("#element-panel-select")[0].options[selectedOptionIndex].getAttribute('name');
					console.log('Selected option name: '+ selectedOptionName);

					let selectedElementTypeString = $("#element-panel-select").val();
					EV.setElementInfo(selectedElementTypeString);

					var selectedchildObj = mainObj.getObjectByName(selectedOptionName);
					console.log(selectedchildObj);
					EV.loadElementObject(selectedchildObj);
				});
				
				$(document.body).on('click', '#compat-modal-bring-btn',  () => {
					let selectedOptionVal = $("#compat-panel-select").val();
					if (selectedOptionVal != null && selectedOptionVal.length > 0) {
						let shapeToLoad = CV.getCompatObjectToLoad(selectedOptionVal, 'main');
						
						const loadedShapeAxesHelper = new THREE.AxesHelper(5);
						shapeToLoad.add(loadedShapeAxesHelper);

						shapeToLoad.position.set(-100, 100, 100);
						scene.add(shapeToLoad);

						transformControl1.detach();
						transformControl1.attach( shapeToLoad );
						transformControl1.addEventListener( 'change', loop );
						transformControl1.addEventListener( 'dragging-changed', function ( event ) {
							controls.enabled = ! event.value;
							transformControl2 = ! event.value;
							transformControl3 = ! event.value;
						} );
						transformControl1.setMode( 'translate' );
						scene.add( transformControl1 );

						transformControl2.detach();
						transformControl2.attach( shapeToLoad );
						transformControl2.addEventListener( 'change', loop );
						transformControl2.addEventListener( 'dragging-changed', function ( event ) {
							controls.enabled = ! event.value;
							transformControl1 = ! event.value;
							transformControl3 = ! event.value;
						} );
						transformControl2.setMode( 'rotate' );
						scene.add( transformControl2 );

						transformControl3.detach();
						transformControl3.attach( shapeToLoad );
						transformControl3.addEventListener( 'change', loop );
						transformControl3.addEventListener( 'dragging-changed', function ( event ) {
							controls.enabled = ! event.value;
							transformControl2 = ! event.value;
							transformControl1 = ! event.value;
						} );
						transformControl3.setMode( 'scale' );
						scene.add( transformControl3 );
					}
				});

				//Create a texture loader so we can load our image file
				var imgloader = new THREE.TextureLoader();

				// Load an image file into a custom material
				var material = new THREE.MeshLambertMaterial({
				map: imgloader.load('https://mojtaba1995.github.io/WebTest/Images/2/1.jpg')
				});

				// create a plane geometry for the image with a width of 10
				// and a height that preserves the image's aspect ratio
				var geometry = new THREE.PlaneGeometry(100,100);

				// combine our image geometry and material into a mesh
				var mesh = new THREE.Mesh(geometry, material);

				// set the position of the image mesh in the x,y,z dimensions
				mesh.position.set(0,0,0)

				// add the image to the scene
				scene.add(mesh);

				//var previous_value = -1;
				var count1 = 0;
				var count2 = 0;
				var count3 = 0;

				
				function loop()
				{
					//cube.rotation.y += 0.01;
					controls.update();
					renderer.render(scene, camera);

					requestAnimationFrame(loop);
					

					if(timeline.value<=34){
						count3 = 0
						count2 = 0;
						count1 = count1 + 1;
						if(count1 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object);
							loadPointCloud("https://mojtaba1995.github.io/clouds/cloud1/cloud.js", new THREE.Vector3(-198, -154, -16));
						}
						//
					}
					if(timeline.value>34 && timeline.value<=67){
						count3 = 0
						count1 = 0;
						count2 = count2 + 1;
						if(count2 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object); 
							loadPointCloud("https://mojtaba1995.github.io//clouds/cloud2/cloud.js", new THREE.Vector3(-210, -150, -17));
						}
						//
					}
					if(timeline.value>67){
						count1 = 0;
						count2 = 0
						count3 = count3 + 1;
						if(count3 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object); 
							loadPointCloud("https://mojtaba1995.github.io//clouds/cloud3/cloud.js", new THREE.Vector3(-196.6, -159, -24));
						}
						
					}
				};
				loop();
				
				function resizeCanvas() {
					var width = canvas.clientWidth;
					var height = canvas.clientHeight;
					renderer.setSize(window.innerWidth, window.innerHeight);
					
					console.log(width);
					console.log(height);
	
				};
				resizeCanvas();	

				document.body.onresize = function()
				{
					resizeCanvas();
					resizeCanvas2(canvas_side, renderer_side, camera_side, timeline);

				}
			};

			var camera_side;
			var renderer_side;
			var canvas_side;

			var bim = document.getElementById("bim");
			bim.addEventListener('change',function() {
				scene.getObjectByName("BIM").visible = !scene.getObjectByName("BIM").visible;
			});

		</script>

{% endblock content %}


