{% extends 'layouts/base.html' %}

{% block title %} View {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="control small" >
		<div class ="text-center ">CONTROL</div>
		<div id = "controlInputs">
			<select class="custom-select-sm" id="select-2d-image" data-size="4">
			</select>
			<div class ="bimdiv">
				<label class="switch">
					<input type="checkbox" id ="bim" checked>
					<span class="slider round"></span>
				  </label>
				  <label>BIM</label>
			</div>
			<div>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				  </label>
				  <label>Image</label>
			</div>
			<div>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				  </label>
				  <label>UV / Laser</label>
			</div> 
		</div>
	</div>

	<!-- Element View Panel -->
	<div id="element-view-panel" class="panel small">
		<div class="panel-header">
			<div class ="text-center">ELEMENT VIEW</div>
		</div>
		<div class="panel-content" id="element-panel-content">
			<div id="element-panel-buttons">
				<button id="element-modal-compat-btn" class="btn btn-light btn-element-modal btn-sm">Compatibility Check</button>
				<button id="element-modal-viewmode-btn" class="btn btn-light btn-element-modal btn-sm">View Mode</button>
			</div>
			<div id="element-panel-dropdown">
				<select class="custom-select-sm" id="element-panel-select" data-size="4">
					<option>No Elements Loaded</option>
				</select>
			</div>
			<div class="dropdown-element-info-div" id="element-panel-info">
				<span id="element-info-span">Info: </span>
			</div> 
			<div id="element-panel-canvas">
				<canvas class="subcanvas" id="element-canvas"></canvas>
			</div>
		</div>
	</div>

	<!-- Compatibility Panel -->
	<!-- <div id="compat-panel" class="panel small">
		<div class="panel-header">
			<div class ="text-center">COMPATIBILITY VIEW</div>
		</div>
		<div class="panel-content" id="compat-panel-content">
			<div id="compat-panel-buttons">
				<button id="compat-modal-bring-btn" class="btn btn-light btn-sm">Bring Element</button>
				<button id="compat-modal-symbol-btn" class="btn btn-light btn-sm">></button>
			</div>
			<div id="compat-panel-dropdown">
				<select class="custom-select-sm" id="compat-panel-select" data-size="4">
					<option value="">No Option Selected</option>
					<option value="sphere">Sphere</option>
					<option value="cube">Cube</option>
					<option value="cylinder">Cylinder</option>
				</select>
			</div>
			<div class="dropdown-element-info-div" id="compat-panel-info">
				<span id="compat-info-span">Info: </span>
			</div>
			<div id="compat-panel-canvas">
				<canvas class="subcanvas" id="compat-canvas"></canvas>
			</div>
		</div>
	</div> -->

	<canvas id="potreecanvas" style="background: gray; position: fixed; width: 100%; height: 100%; left: 0; top:0; z-index: -1;cursor: grab; border:1px solid; display: block;">
	</canvas>

	<!-- <canvas id="bimcanvas" style=" background: gray; height: 20%; width: 300px; position:fixed; margin-left: 1em;; bottom:20px; z-index: 0; border:1px black solid;">
	</canvas> -->

	<div id = "schedule" class ="small" style="width: fit-content;">
		<span>SCHEDULE</span>
		<div style="background-color: #000000 !important; border-radius: 5px;">
			<input id="timeline" type="range" style="transform: translateX(0%);" value="0">
		</div>
	</div>

	<div class="information small">
		<div class ="text-center">INFORMATION</div>
		<div id = "controlInputs">
			<div>
				<label>Frame rate:</label>
				<span id ="frameRate"></span>
			</div>
			<div>
				<label>Points rendered:</label>
			</div>
		</div>
	</div>
	
{% load static %}
	<!-- <script src="static/assets/potree/three.min.js"></script> -->
	<!--<script src="/static/assets/fbx/three.js"></script> -->
	<!--<script src="static/assets/potree/OrbitControls.js"></script> -->
	<!--<script src="static/assets/potree/potree.js"></script>-->
	<!--<script type="module" src="/static/assets/fbx/FBXLoader.js"></script>-->
	
	<!-- <script src="/static/assets/three/build/three.js"></script> -->

	<!-- <script src="/static/assets/three/potree-main/libs/proj4/proj4.js"></script> -->

	<script type="module">

		// import '/static/assets/fbx/three-r130.js';
		// import '/static/assets/fbx/three.module.js';
		import '/static/assets/potree/three.min.js';

		// import '/static/assets/potree/OrbitControls.js';
		// import * as OC from '/static/assets/fbx/OrbitControls.js';
		// import * as DC from '/static/assets/fbx/DragControls.js';
		import * as OC from '/static/assets/fbx/OrbitControls-r110.js';
		import { TransformControls } from '/static/assets/fbx/TransformControls-r110.js';
		
		import '/static/assets/potree/potree.js';	// Potree 1.6
		// import '/static/assets/three/potree-main/build/potree/potree.js';

		import * as EV from "/static/assets/js/element-view.js";
		import * as CV from "/static/assets/js/compat-view.js";
		
		import { CompatibilityPanel } from "/static/assets/js/CompatibilityPanel.js";

		// import '/static/assets/three/build/three.js';
		// import '/static/assets/three/build/three.module.js';

		var scene;
		document.body.onload = function()
			{	
				let compatibilityPanel = new CompatibilityPanel();
				$("#element-view-panel").after( compatibilityPanel.getElement() );

				// $("#compat-panel-select").change( () => {
					
				// 	compatibilityPanel.signals.selectedPointCloudChanged.dispatch();

				// });

				scene = new THREE.Scene();
				const axesHelper = new THREE.AxesHelper(500);
				scene.add( axesHelper );

				var canvas = document.getElementById("potreecanvas");
				var sidenav = document.getElementById("sidenav");
				var timeline = document.getElementById("timeline");
				
				var width = canvas.width;
				var height = canvas.height;
				
				var camera = new THREE.PerspectiveCamera(60, width / height, 0.1, 100000);
        		camera.position.set(-200, 150, -200);
      
				var renderer = new THREE.WebGLRenderer(
				{
					canvas: canvas,
					alpha: true,
					logarithmicDepthBuffer: true,
					context: null,
					precision: "highp",
					premultipliedAlpha: true,
					antialias: true,
					preserveDrawingBuffer: false,
					powerPreference: "high-performance"
				});

				var transformControl1 = new TransformControls( camera, renderer.domElement );

				transformControl1.addEventListener( 'change', loop );
				transformControl1.addEventListener( 'dragging-changed', function ( event ) {
					controls.enabled = ! event.value;
				} );
				scene.add( transformControl1 );

				scene.add(new THREE.AmbientLight(0x222222,5));

				var controls = new OC.OrbitControls(camera, canvas);
				controls.autoRotate = false;
				controls.update();

				const raycaster = new THREE.Raycaster();
				const mouse = new THREE.Vector2();

				raycaster.params.Points.threshold = 1e-2;
				var normalized = new THREE.Vector2();

				canvas.onmousemove = function(event)
				{
					normalized.set((event.clientX / canvas.width) * 2 - 1, -(event.clientY / canvas.height) * 2 + 1);
					raycaster.setFromCamera(normalized, camera);
				}

				Potree.Global.workerPath = "./static/assets/source";
				// Potree.scriptPath = "/static/assets/three/potree-main/build/potree";
				// Potree.resourcePath = "https://localhost:8000/static/assets/three/potree-main/build/potree/resources";

				var counter = 1;
				
				function loadPointCloud(url, position)
				{
					Potree.loadPointCloud(url, "pointcloud", function(e)
					{
						var points = new Potree.Group();
						points.setPointBudget(500000);
						points.name = "objectName" + String(counter);
						//points.material.opacity = 0.0;
						//points.material.wireframe = false;
						
						scene.add(points);
	
						var pointcloud = e.pointcloud;

						if(position !== undefined)
						{
							pointcloud.position.copy(position);
						}

						var material = pointcloud.material;
						material.size = 2;
						material.pointColorType = Potree.PointColorType.RGB; //RGB | DEPTH | HEIGHT | POINT_INDEX | LOD | CLASSIFICATION
						material.pointSizeType = Potree.PointSizeType.ADAPTIVE; //ADAPTIVE | FIXED
						material.shape = Potree.PointShape.SQUARE; //CIRCLE | SQUARE

						points.add(pointcloud);
					});
				}
				
				function getCenterPoint(mesh) {
					var geometry = mesh.geometry;
					geometry.computeBoundingBox();
					var center = new THREE.Vector3();
					geometry.boundingBox.getCenter(center);
					mesh.localToWorld(center);

					return center;
				}

				const loader = new THREE.ObjectLoader();
				let mainObj = null;

				function loadMainObj( obj ) {
					// Add the loaded object to the scene
					obj.position.set(-180, -100, 120);
					obj.name = "BIM";
					
					scene.add( obj );

					mainObj = obj;

					EV.populateElementsDropdown(obj);
				}

				function mainObjLoadingProgress( xhr ) {
					console.log( (xhr.loaded / xhr.total * 100) + '% loaded' );
				}

				function mainObjLoadingError( err ) {
					console.error( 'An error happened' );
				}
 
				loader.load( "/static/assets/fbx/scene.json", obj => loadMainObj( obj ), xhr => mainObjLoadingProgress( xhr ), err => mainObjLoadingError( err ) );

				var positions2 =[];
				var folder = 0;
				function load2dImageDropdown(folderNumber){
					folder = folderNumber;
					positions2 = [];
					$.ajax({
						type: "GET",
						url: "/static/assets/fbx/"+ folder +".csv",
						dataType: "text",
						success: function(data) {processData(data);},
						complete:function(){loadElements2dImageDropdown();}
					});

					function processData(allText) {
						var allTextLines = allText.split(/\r\n|\n/);
						var headers = allTextLines[0].split(',');
						for (var i=1; i<allTextLines.length; i++) {
							var data = allTextLines[i].split(',');
							if (data.length == headers.length) {
								positions2.push({
									'id': i,
									'x': data[0],
									'y': data[1],
									'z': data[2],
									'atX': data[3],
									'atY': data[4],
									'atZ': data[5],
									'f': data[6],
									'upX':data[7],
									'upY':data[8],
									'upZ':data[9],
									});
								}
							}
							console.log(positions2);
						}
					}
				
				
					function loadElements2dImageDropdown(){
            			$('#select-2d-image').empty();
						$.each(positions2, function (index, obj) {
						let dropdownOption = $('<option></option>')
													.attr('value', obj.id).attr('name', obj.id).text(obj.id);
            			$('#select-2d-image').append(dropdownOption);
						});
            
          			var pcX = 0;
					var pcY = 0;
					var pcZ = 0;
					if(folder ==2){
						pcX = 198;
						pcY = 154;
						pcZ = 16;

					}else if(folder==3){
						pcX = 210;
						pcY = 150;
						pcZ = 17;
					}else if(folder==4){
						pcX = 196.6;
						pcY = 159;
						pcZ = 24;
					}


					for(var i =1;i <=1; i++){
						//Create a texture loader so we can load our image file
						var imgloader = new THREE.TextureLoader();
						var url = 'https://mojtaba1995.github.io/WebTest/Images/'+folder+'/'+i+'.jpg';

						// Load an image file into a custom material
						var material = new THREE.MeshBasicMaterial({ map: imgloader.load(url)});

						// create a plane geometry for the image with a width of 10
						// and a height that preserves the image's aspect ratio
						var geometry = new THREE.PlaneGeometry(100,100);

						// combine our image geometry and material into a mesh
						var mesh = new THREE.Mesh(geometry, material);
						

						var pX = parseFloat(positions2[i-1]['x'])+pcX;
						var pY = parseFloat(positions2[i-1]['y'])+pcY;
						var pZ = parseFloat(positions2[i-1]['z'])+pcZ;
						var upX = parseFloat(positions2[i-1]['upX']);//-40;
						var upY = parseFloat(positions2[i-1]['upY']);//-110;
						var upZ = parseFloat(positions2[i-1]['upZ']);//+30;
						var atX = parseFloat(positions2[i-1]['atX']);//-40;
						var atY = parseFloat(positions2[i-1]['atY']);//-110;
						var atZ = parseFloat(positions2[i-1]['atZ']);//+30;
						// set the position of the image mesh in the x,y,z dimensions
						mesh.position.set(pX,pY,pZ);
						mesh.up = new THREE.Vector3(upX,upY,upZ);
						mesh.lookAt = new THREE.Vector3(atX,atY,atZ);
							
						//-200, 150, -200
						mesh.rotateY(-180);
						// mesh.rotateY(-100);
						// mesh.rotateZ(120);
						// mesh.translateX(198);
						// mesh.translateY(154);
						// mesh.translateZ(16);

						// add the image to the scene
						scene.add(mesh);
					}
				}
			
				$("#element-panel-select").change(() => {
					let selectedOptionIndex = $("#element-panel-select").prop('selectedIndex');
					let selectedOptionName = $("#element-panel-select")[0].options[selectedOptionIndex].getAttribute('name');
					console.log('Selected option name: '+ selectedOptionName);

					let selectedElementTypeString = $("#element-panel-select").val();
					EV.setElementInfo(selectedElementTypeString);

					var selectedchildObj = mainObj.getObjectByName(selectedOptionName);
					console.log(selectedchildObj);
					EV.loadElementObject(selectedchildObj);
				});
				

				compatibilityPanel.signals.bringElementButtonClicked.add( () => compatibilityPanel.getSelectedPointCloud().then( loadSelectedMesh ).catch( errorAlert ) );

				function errorAlert( error ) { 

					console.error( error );
					alert('Invalid Compatibility Point Cloud Selection.'); 

				}

				function loadSelectedMesh( shapeToLoad ) {

					if ( shapeToLoad == null ) {

						alert ( 'Select a point cloud in Compatibility Panel first!' );

					} else {

						scene.add(shapeToLoad);
							
						transformControl1.attach( shapeToLoad );

						// 0: translate, 1: rotate, 2: scale, 3: detach
						let transformControlMode = 0;

						alert("Double click on object to change transform mode/switch off controls.");

						canvas.ondblclick = function(event)
						{
							var intesects = raycaster.intersectObject(shapeToLoad, false);
							
							if(intesects.length > 0) {
								
								transformControl1.attach( shapeToLoad );

								transformControlMode = (transformControlMode + 1) % 4;
								
								switch( transformControlMode ) {
									case 1:
										transformControl1.setMode( "rotate" );
										break;
									case 2:
										transformControl1.setMode( "scale" );
										break;
									case 3:
										transformControl1.detach();
										break;
									default:
										transformControl1.setMode( "translate" );
								}
							}
						}

					}
				}




				var lastTime = ( performance || Date ).now();
				var count = 0;
				function fpsUpdate() { 
					var currentTime = ( performance || Date ).now();
					// currentTime - lastTime is the number of milliseconds passed from last loop 
					var fps = 1000 / (currentTime - lastTime);
					lastTime = currentTime;
					count += 1;
					if(count == 30){
						count = 0;
						document.getElementById("frameRate").textContent = fps.toFixed(0);
					}
				}
					
				//var previous_value = -1;
				var count1 = 0;
				var count2 = 0;
				var count3 = 0;

				var intersects = null;
				
				function animate() {
					requestAnimationFrame(animate);
					controls.update();

					if(timeline.value<=34){
						count3 = 0
						count2 = 0;
						count1 = count1 + 1;
						if(count1 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object);
							loadPointCloud("https://mojtaba1995.github.io/clouds/cloud1/cloud.js", new THREE.Vector3(-198, -154, -16));
							load2dImageDropdown(2);
						}
					}
					if(timeline.value>34 && timeline.value<=67){
						count3 = 0
						count1 = 0;
						count2 = count2 + 1;
						if(count2 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object); 
							loadPointCloud("https://mojtaba1995.github.io//clouds/cloud2/cloud.js", new THREE.Vector3(-210, -150, -17));
							load2dImageDropdown(3);
						}
					}
					if(timeline.value>67){
						count1 = 0;
						count2 = 0
						count3 = count3 + 1;
						if(count3 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object); 
							loadPointCloud("https://mojtaba1995.github.io//clouds/cloud3/cloud.js", new THREE.Vector3(-196.6, -159, -24));
							load2dImageDropdown(4);
						}
					}
					fpsUpdate();

					loop();
				}

				function loop()
				{
					renderer.render(scene, camera);	
				}

				animate();
				
				function resizeCanvas() {
					var width = canvas.clientWidth;
					var height = canvas.clientHeight;
					renderer.setSize(window.innerWidth, window.innerHeight);
					
					console.log(width);
					console.log(height);
	
				};
				resizeCanvas();	

				document.body.onresize = function()
				{
					resizeCanvas();
				}
			};

			var bim = document.getElementById("bim");
			bim.addEventListener('change',function() {
				scene.getObjectByName("BIM").visible = !scene.getObjectByName("BIM").visible;
			});

		</script>

{% endblock content %}


