{% extends 'layouts/base.html' %}

{% block title %} Table {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <!-- <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"> -->
	
	<!-- <section style= "height:500px;"> -->
		
	<!--<canvas id="potreecanvas" style="background: gray;left: 0px;position: absolute; z-index: -1;cursor: grab;tabindex=0; border:1px solid;">-->
	<!--</canvas>-->
	<div class="control small" >
		<div class ="text-center ">CONTROL</div>
		<div id = "controlInputs">
			<select class="custom-select-sm" id="day" data-size="4">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
			<div class ="bimdiv">
				<label class="switch">
					<input type="checkbox" id ="bim" checked>
					<span class="slider round"></span>
				  </label>
				  <label>BIM</label>
			</div>
			<div>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				  </label>
				  <label>Image</label>
			</div>
			<div>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				  </label>
				  <label>UV / Laser</label>
			</div> 
		</div>
	</div>
	<div>
		<div id="potreeContainer">
			<canvas id="potreecanvasTable"></canvas>
		</div>
		<div id="gantt-target"></div>
	</div>
	
	<div id = "scheduleInTable" class ="small">
		<span>SCHEDULE</span>
		<div style="background-color: #000000 !important; border-radius: 5px;">
			<input id="timeline" type="range" style="transform: translateX(0%); width: 100%" value="0">
		</div>
	</div>

	<div class="informationSchedule small">
		<div class ="text-center">INFORMATION</div>
		<div id = "controlInputs">
			<div>
				<label>Frame rate:</label>
				<span id ="frameRate"></span>
			</div>
			<div>
				<label>Points rendered:</label>
			</div>
		</div>
	</div>

{% load static %}
	<script src="/static/assets/js/frappe-gantt.js"></script>
	<script src="/static/assets/js/snap.svg-min.js"></script>
	<script src="/static/assets/js/moment.js"></script>
	<script type="module">
		import '/static/assets/fbx/three.js';
		import '/static/assets/fbx/three.module.js';
		import '/static/assets/potree/three.min.js';
		//import '/static/assets/potree/OrbitControls.js';
		import * as OC from '/static/assets/fbx/OrbitControls.js';
		import '/static/assets/potree/potree.js';
		var scene;
		var tasks = [];
		var startDate;
		$(document).ready(function() {
				$.ajax({
					type: "GET",
					url: "/static/assets/fbx/Schedule.csv",
					dataType: "text",
					success: function(data) {processData(data);}
				});
			});

			function processData(allText) {
				var allTextLines = allText.split(/\r\n|\n/);
				var headers = allTextLines[0].split(',');
				var lines = [];
				for (var i=1; i<allTextLines.length; i++) {
					var data = allTextLines[i].split(',');
					if(i == 1 ) {
						startDate = data[1];
					}
					if (data.length == headers.length) {
						tasks.push({
									'start': data[1],
									'end': data[2],
									'name':data[0],
									'id': data[0],
									'progress': data[3],
									'dependencies' : data[4].replace(":",",")
								});
					}
				}
				console.log(tasks);
			}

					

		document.body.onload = function()
			{
				scene = new THREE.Scene();
				var canvas = document.getElementById("potreecanvasTable");
				var timeline = document.getElementById("timeline");
				var width = canvas.width;
				var height = canvas.height * 0.6;

				var camera = new THREE.PerspectiveCamera(60, width / height, 0.1, 750);
				camera.position.set(-180, 120, -150);

				var renderer = new THREE.WebGLRenderer(
				{
					canvas: canvas,
					alpha: true,
					logarithmicDepthBuffer: true,
					context: null,
					precision: "highp",
					premultipliedAlpha: true,
					antialias: true,
					preserveDrawingBuffer: false,
					powerPreference: "high-performance"
				});
				renderer.sortObjects = false;
				scene.add(new THREE.AmbientLight(0x222222,5));

				var controls = new OC.OrbitControls(camera, canvas);
				controls.autoRotate = false;
				controls.update();

				Potree.Global.workerPath = "./static/assets/source";
				
				var counter = 1;
				
				function loadPointCloud(url, position)
				{

					Potree.loadPointCloud(url, "pointcloud", function(e)
					{
						var points = new Potree.Group();
						points.setPointBudget(500000);
						points.name = "objectName" + String(counter);
						points.material.opacity = 1;
						points.material.wireframe = true;
						//points.material.wireframeLinewidth = 0.01;
						scene.add(points);
	
						var pointcloud = e.pointcloud;

						if(position !== undefined)
						{
							pointcloud.position.copy(position);
						}

						points.add(pointcloud);
					});
				}

				function drawChart(){
					if(tasks.length === 0 ) return;
					var gantt_chart = new Gantt("#gantt-target", tasks, {
						on_click: function (task) {
							console.log(task);
						},
						on_date_change: function(task, start, end) {
							console.log(task, start, end);
						},
						on_progress_change: function(task, progress) {
							console.log(task, progress);
						},
						on_view_change: function(mode) {
							console.log(mode);
						},
						view_mode: 'Week',
						language: 'en',
					});
					console.log(gantt_chart);
				}

				const light = new THREE.AmbientLight( 0x404040 ); // soft white light
				scene.add( light );

				var lastTime = ( performance || Date ).now();
				var count = 0;
				function fpsUpdate() { 
					var currentTime = ( performance || Date ).now();
					// currentTime - lastTime is the number of milliseconds passed from last loop 
					var fps = 1000 / (currentTime - lastTime);
					lastTime = currentTime;
					count += 1;
					if(count == 30){
						count = 0;
						document.getElementById("frameRate").textContent = fps.toFixed(0);
					}
				}

				function getElementId(element) {
					if (element == null || element.name == null || !validateElementName(element.name)) return null;

					var nameStringRegex = new RegExp("^.*_([0-9]*)_Geometry$");
					var found = element.name.match(nameStringRegex);

					if (found == null || found.length === 0) return null;
					else return found[found.length - 1];
				}

				function validateElementName(nameString) {
					if (nameString == null || nameString.length === 0) return false;

					var nameStringRegex = new RegExp("^.*_[0-9]*_Geometry$");

					if (!nameStringRegex.test(nameString)) {
						console.log('Invalid namestring: ' + nameString);
					}

					return nameStringRegex.test(nameString);
				}

				function differenceBetweenDates(value){
					var date1 = new Date(startDate);
					var date2 = new Date(value);
					var Difference_In_Time = date2.getTime() - date1.getTime();
					var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);
					return Difference_In_Days;
				}

				function getCompletedElementsName(){
					var completedElements = [];
					for(var i =0;i<tasks.length;i++){
						if(tasks[i]['progress']== "100"){
							completedElements.push(tasks[i]['id']);
						}
					}
					return completedElements;
				}

				function getInProgressElements(value){
					var inprogressElements = [];
					for(var i =0;i<tasks.length;i++){
						if(parseInt(tasks[i]['progress']) < 100 && differenceBetweenDates(tasks[i]['start']) <= value && differenceBetweenDates(tasks[i]['end']) >= value){
							inprogressElements.push(tasks[i]['id']);
						}
					}
					return inprogressElements;
				}

				function getBehindSheduleElements(value){
					var behindScheduleElements = [];
					for(var i =0;i<tasks.length;i++){
						if(parseInt(tasks[i]['progress']) < 100 && differenceBetweenDates(tasks[i]['end']) < value){
							behindScheduleElements.push(tasks[i]['id']);
						}
					}
					return behindScheduleElements;
				}

				var oldVal = 0;
				var elemenCount = 0;

				function timelineValChange(){
					if (scene.getObjectByName('BIM') === undefined) return;	
					if(oldVal == timeline.value)return;
					var completedElements = getCompletedElementsName();
					var inprogressElements = getInProgressElements(timeline.value);
					var behindScheduleElements = getBehindSheduleElements(timeline.value);
					console.log(completedElements);
					var modelElements = [];
					scene.getObjectByName('BIM').traverse(function (node) {
						if(node.isMesh){
							if( completedElements.includes( getElementId(node) )){
								modelElements.push(node.name);
								node.material = new THREE.MeshBasicMaterial({color: "white"}); 
							}
							else if( inprogressElements.includes( getElementId(node) )){
								node.material = new THREE.MeshBasicMaterial({color: "green"});
								node.material.transparent = true;
								node.material.opacity = 0.4;
							}
							else if( behindScheduleElements.includes(getElementId(node))){
								node.material = new THREE.MeshBasicMaterial({color: "red"});
								node.material.transparent = true;
								node.material.opacity = 0.4;
							}else{
								node.material = new THREE.MeshBasicMaterial({color: "white"});
								node.material.transparent = true;
								node.material.opacity = 0.4;
							}
                            }
                        });
					oldVal = timeline.value;
				}

				var count1 = 0;
				var count2 = 0;
				var count3 = 0;
				function loop()
				{
					if(timeline.value<=34){
						count3 = 0
						count2 = 0;
						count1 = count1 + 1;
						if(count1 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object);
							loadPointCloud("https://mojtaba1995.github.io/clouds/cloud1/cloud.js", new THREE.Vector3(-198, -154, -16));
						}
					}
					if(timeline.value>34 && timeline.value<=67){
						count3 = 0
						count1 = 0;
						count2 = count2 + 1;
						if(count2 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object); 
							loadPointCloud("https://mojtaba1995.github.io//clouds/cloud2/cloud.js", new THREE.Vector3(-210, -150, -17));
						}
						//
					}
					if(timeline.value>67){
						count1 = 0;
						count2 = 0
						count3 = count3 + 1;
						if(count3 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object); 
							loadPointCloud("https://mojtaba1995.github.io//clouds/cloud3/cloud.js", new THREE.Vector3(-196.6, -159, -24));
						}
						//
					}
					timelineValChange();
					controls.update();
					renderer.render(scene, camera);
					fpsUpdate();
					requestAnimationFrame(loop);
				};
				loop();
				const loader = new THREE.ObjectLoader();
				loader.load(
					// resource URL
					"/static/assets/fbx/scene.json",

					// onLoad callback
					// Here the loaded data is assumed to be an object
					function ( obj ) {
						// Add the loaded object to the scene
						obj.position.set(-180, -100, 120);
						obj.name = "BIM";
						obj.renderOrder = 10;
						obj.traverse((node)=>{
                            if(node.isMesh){
                                node.material = new THREE.MeshBasicMaterial({color: "white"});
                                node.material.transparent = true;
                                node.material.opacity = 0.4;
                                }
                            });
						scene.add( obj );
						drawChart();
						},

					// onProgress callback
					function ( xhr ) {
						console.log( (xhr.loaded / xhr.total * 100) + '% loaded' );
					},

					// onError callback
					function ( err ) {
						console.error( 'An error happened' );
					}
				);
				var container;
				document.body.onresize = function()
				{
					// container = document.getElementById('potreeContainer');
					// renderer.setSize($(container).width()*, $(container).height());
					renderer.setPixelRatio(window.devicePixelRatio + 8);
					drawChart();
				}
				document.body.onresize();
			};
		
		var bim = document.getElementById("bim");
        bim.addEventListener('change',function() {
            scene.getObjectByName("BIM").visible = !scene.getObjectByName("BIM").visible;
        });
		</script>


{% endblock content %}


