{% extends 'layouts/base.html' %}

{% block title %} Table {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <!-- <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"> -->
	
	<!-- <section style= "height:500px;"> -->
		
	<!--<canvas id="potreecanvas" style="background: gray;left: 0px;position: absolute; z-index: -1;cursor: grab;tabindex=0; border:1px solid;">-->
	<!--</canvas>-->
	<div class="control small" >
		<div class ="text-center ">CONTROL</div>
		<div id = "controlInputs">
			<select class="custom-select-sm" id="day" data-size="4">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
			<div class ="bimdiv">
				<label class="switch">
					<input type="checkbox" id ="bim" checked>
					<span class="slider round"></span>
				  </label>
				  <label>BIM</label>
			</div>
			<div>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				  </label>
				  <label>Image</label>
			</div>
			<div>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				  </label>
				  <label>UV / Laser</label>
			</div> 
		</div>
	</div>

	<div id="potreeContainer" style="height:60%;">
		<canvas id="potreecanvasTable"></canvas>
	</div>
	<div id="chart_wrapper">
		<div id="chart_div">Grantt Chart will be loaded here...</div>
	</div>
	<div id = "scheduleInTable" class ="small">
		<span>SCHEDULE</span>
		<div style="background-color: #000000 !important; border-radius: 5px;">
			<input id="timeline" type="range" style="transform: translateX(0%); width: 100%" value="0">
		</div>
	</div>

	<div class="information small">
		<div class ="text-center">INFORMATION</div>
		<div id = "controlInputs">
			<div>
				<label>Frame rate:</label>
				<span id ="frameRate"></span>
			</div>
			<div>
				<label>Points rendered:</label>
			</div>
		</div>
	</div>

	<!--<button type="button" class="btn btn-secondary" style="position: relative; top:70px; left: 20px;">BIM</button>-->
	<!--<button type="button" class="btn btn-secondary" style="position: relative; top:120px; left: -65px;">Scan</button>-->
	
    
	<!-- </section> -->

	<!-- </div> -->


    <!-- <div class="container-fluid mt--7"> -->


    <!-- </div> -->
	
{% load static %}
	<!-- <script src="static/assets/potree/three.min.js"></script> -->
	<!--<script src="/static/assets/fbx/three.js"></script> -->
	<!--<script src="static/assets/potree/OrbitControls.js"></script> -->
	<!--<script src="static/assets/potree/potree.js"></script>-->
	<!--<script type="module" src="/static/assets/fbx/FBXLoader.js"></script>-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="module">

		//
		import '/static/assets/fbx/three.js';
		import '/static/assets/fbx/three.module.js';
		import '/static/assets/potree/three.min.js';
		import '/static/assets/potree/OrbitControls.js';
		import '/static/assets/potree/potree.js';
		import * as EV from "/static/assets/js/element-view.js";
		//import '/static/assets/fbx/FBXLoader.js';
		var scene;
		let elementIdTypeMapList = [];
		google.charts.load('current', {'packages':['gantt']});
		function daysToMilliseconds(days) {
			return days * 24 * 60 * 60 * 1000;
		}
		function getWidth(){
			var windowWidth = document.getElementById("chart_div").offsetWidth;
			if(windowWidth <= 750){
				return windowWidth;
			}else{
				return windowWidth - 250;
			}
		}
		var data;
		function drawChart() {
			if (elementIdTypeMapList.length ==0){
				return;
			}
	
			data = new google.visualization.DataTable();
			data.addColumn('string', 'Task ID');
			data.addColumn('string', 'Task Name');
			data.addColumn('date', 'Start Date');
			data.addColumn('date', 'End Date');
			data.addColumn('number', 'Duration');
			data.addColumn('number', 'Percent Complete');
			data.addColumn('string', 'Dependencies');
			//var result = "";
			for(var i=0;i < elementIdTypeMapList.length;i++){
				data.addRow([
					elementIdTypeMapList[i].id.toString(),              // 'Task ID'
					elementIdTypeMapList[i].id.toString(),                 // 'Task Name'
					new Date(2014, 2, 22),  // 'Start Date'
					new Date(2014, 2, 24),    // 'End Date'
					null,                     // 'Duration'
					70,              // 'Percent Complete'
					null                      // 'Dependencies'
					]);
			}
			//data.addRows([result]);
			var options = {
				height: elementIdTypeMapList.length * 15 + 40 ,
				width: getWidth(),
				gantt: {
					trackHeight: 15,
					barCornerRadius: 10,
					barHeight: 10
				},
			};
	
			var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
	
			chart.draw(data, options);
		}

		document.body.onload = function()
			{
				scene = new THREE.Scene();
				var canvas = document.getElementById("potreecanvasTable");
				var timeline = document.getElementById("timeline");
				var width = canvas.width;
				var height = canvas.height;

				var camera = new THREE.PerspectiveCamera(60, width / height, 0.1, 1000);
				camera.position.set(-200, 150, -200 );

				var renderer = new THREE.WebGLRenderer(
				{
					canvas: canvas,
					alpha: true,
					logarithmicDepthBuffer: true,
					context: null,
					precision: "highp",
					premultipliedAlpha: true,
					antialias: true,
					preserveDrawingBuffer: false,
					powerPreference: "high-performance"
				});

				scene.add(new THREE.AmbientLight(0x222222,5));

				var controls = new THREE.OrbitControls(camera, canvas);
				controls.autoRotate = false;
				controls.update();

				Potree.Global.workerPath = "./static/assets/source";
				
				var counter = 1;
				
				function loadPointCloud(url, position)
				{

					Potree.loadPointCloud(url, "pointcloud", function(e)
					{
						var points = new Potree.Group();
						points.setPointBudget(500000);
						points.name = "objectName" + String(counter);
						
						scene.add(points);
	
						var pointcloud = e.pointcloud;

						if(position !== undefined)
						{
							pointcloud.position.copy(position);
						}

						points.add(pointcloud);
					});
				}
				
				
				
				function getElementType(element) {
					if (element == null || element.name == null || !validateElementName(element.name)) return null;

					var nameStringRegex = new RegExp("(^.*)_[0-9]*_Geometry$");
					var found = element.name.match(nameStringRegex);

					if (found == null || found.length === 0) return null;
					else return found[found.length - 1];
				}

				function getElementId(element) {
					if (element == null || element.name == null || !validateElementName(element.name)) return null;

					var nameStringRegex = new RegExp("^.*_([0-9]*)_Geometry$");
					var found = element.name.match(nameStringRegex);

					if (found == null || found.length === 0) return null;
					else return found[found.length - 1];
				}

				function validateElementName(nameString) {
					if (nameString == null || nameString.length === 0) return false;

					var nameStringRegex = new RegExp("^.*_[0-9]*_Geometry$");

					if (!nameStringRegex.test(nameString)) {
						console.log('Invalid namestring: ' + nameString);
					}

					return nameStringRegex.test(nameString);
				}
				
				function populateElements(mainObj) {
					mainObj.traverse(function (child) {
						if (child.isMesh) {
							let childId = getElementId(child);
							let childType = getElementType(child);
							let childName = child.name;
							if (childId != null && childType != null) {
								elementIdTypeMapList.push({
									'id': child.uuid,
									'type': childType, 
									'name': childName
								});
							}
						}
					});
					// var flags = [], l = temp.length, i;
					// for( i=0; i<l; i++) {
					// 	if( flags[temp[i].name]) continue;
					// 	flags[temp[i].name] = true;
					// 	elementIdTypeMapList.push(temp[i]);
					// }
				}



				const loader = new THREE.ObjectLoader();
				loader.load(
					// resource URL
					"/static/assets/fbx/scene.json",

					// onLoad callback
					// Here the loaded data is assumed to be an object
					function ( obj ) {
						// Add the loaded object to the scene
						obj.position.set(-180, -100, 120);
						obj.name = "BIM";
						scene.add( obj );
						populateElements(obj);
						drawChart();
						},

					// onProgress callback
					function ( xhr ) {
						console.log( (xhr.loaded / xhr.total * 100) + '% loaded' );
					},

					// onError callback
					function ( err ) {
						console.error( 'An error happened' );
					}
				);

				//var previous_value = -1;
				var count1 = 0;
				var count2 = 0;
				var count3 = 0;

				var lastTime = ( performance || Date ).now();
				var count = 0;
				function fpsUpdate() { 
					var currentTime = ( performance || Date ).now();
					// currentTime - lastTime is the number of milliseconds passed from last loop 
					var fps = 1000 / (currentTime - lastTime);
					lastTime = currentTime;
					count += 1;
					if(count == 30){
						count = 0;
						document.getElementById("frameRate").textContent = fps.toFixed(0);
					}
				}

				function loop()
				{
					controls.update();
					renderer.render(scene, camera);
					fpsUpdate();

					requestAnimationFrame(loop);
					

					if(timeline.value<=34){
						count3 = 0
						count2 = 0;
						count1 = count1 + 1;
						if(count1 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object); 
							loadPointCloud("https://mojtaba1995.github.io/clouds/cloud1/cloud.js", new THREE.Vector3(-198, -154, -16));
						}
					}
					if(timeline.value>34 && timeline.value<=67){
						count3 = 0
						count1 = 0;
						count2 = count2 + 1;
						if(count2 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object); 
							loadPointCloud("https://mojtaba1995.github.io//clouds/cloud2/cloud.js", new THREE.Vector3(-210, -150, -17));
						}
						//
					}
					if(timeline.value>67){
						count1 = 0;
						count2 = 0
						count3 = count3 + 1;
						if(count3 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object); 
							loadPointCloud("https://mojtaba1995.github.io//clouds/cloud3/cloud.js", new THREE.Vector3(-196.6, -159, -24));
						}
						//
					}
					
				};
				loop();

				document.body.onresize = function()
				{
					renderer.setPixelRatio(window.devicePixelRatio +8);
					drawChart(data);
				}
				document.body.onresize();
			};

		var bim = document.getElementById("bim");
        bim.addEventListener('change',function() {
            scene.getObjectByName("BIM").visible = !scene.getObjectByName("BIM").visible;
        });

		</script>


{% endblock content %}


