{% extends 'layouts/base.html' %}

{% block title %} Table {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <!-- <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"> -->
	
	<!-- <section style= "height:500px;"> -->
		
	<!--<canvas id="potreecanvas" style="background: gray;left: 0px;position: absolute; z-index: -1;cursor: grab;tabindex=0; border:1px solid;">-->
	<!--</canvas>-->
	<div class="control small" >
		<div class ="text-center ">CONTROL</div>
		<div id = "controlInputs">
			<select class="custom-select-sm" id="day" data-size="4">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
			<div class ="bimdiv">
				<label class="switch">
					<input type="checkbox" id ="bim" checked>
					<span class="slider round"></span>
				  </label>
				  <label>BIM</label>
			</div>
			<div>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				  </label>
				  <label>Image</label>
			</div>
			<div>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				  </label>
				  <label>UV / Laser</label>
			</div> 
		</div>
	</div>

	<div class="container" style="height: 70%;">
		<canvas id="potreecanvas" style="background: gray; position: fixed; width: 100%; height: 70%; left: 0; top:0; z-index: -1;cursor: grab; border:1px solid; display: block;">
		</canvas>
	</div>
	<div id="chart_wrapper" style="overflow-y: scroll; overflow-x: scroll; width:100%; height:300px;">
		<div id="chart_div"></div>
	</div>
	<div id = "schedule" class ="small">
		<span>SCHEDULE</span>
		<div style="background-color: #000000 !important; border-radius: 5px;">
			<input id="timeline" type="range" style="transform: translateX(0%); width: 70%" value="0">
		</div>
	</div>

	<div class="information small">
		<div class ="text-center">INFORMATION</div>
		<div id = "controlInputs">
			<div>
				<label>Frame rate:</label>
				<span id ="frameRate"></span>
			</div>
			<div>
				<label>Points rendered:</label>
			</div>
		</div>
	</div>

	<!--<button type="button" class="btn btn-secondary" style="position: relative; top:70px; left: 20px;">BIM</button>-->
	<!--<button type="button" class="btn btn-secondary" style="position: relative; top:120px; left: -65px;">Scan</button>-->
	
    
	<!-- </section> -->

	<!-- </div> -->


    <!-- <div class="container-fluid mt--7"> -->


    <!-- </div> -->
	
{% load static %}
	<!-- <script src="static/assets/potree/three.min.js"></script> -->
	<!--<script src="/static/assets/fbx/three.js"></script> -->
	<!--<script src="static/assets/potree/OrbitControls.js"></script> -->
	<!--<script src="static/assets/potree/potree.js"></script>-->
	<!--<script type="module" src="/static/assets/fbx/FBXLoader.js"></script>-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="module">

		//
		import '/static/assets/fbx/three.js';
		import '/static/assets/fbx/three.module.js';
		import '/static/assets/potree/three.min.js';
		import '/static/assets/potree/OrbitControls.js';
		import '/static/assets/potree/potree.js';
		import * as EV from "/static/assets/js/element-view.js";
		//import '/static/assets/fbx/FBXLoader.js';
		var scene;
		let elementIdTypeMapList = [];
		google.charts.load('current', {'packages':['gantt']});
		function daysToMilliseconds(days) {
			return days * 24 * 60 * 60 * 1000;
		}
	
		function drawChart() {
	
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Task ID');
			data.addColumn('string', 'Task Name');
			data.addColumn('date', 'Start Date');
			data.addColumn('date', 'End Date');
			data.addColumn('number', 'Duration');
			data.addColumn('number', 'Percent Complete');
			data.addColumn('string', 'Dependencies');
			//var result = "";
			for(var i=0;i < elementIdTypeMapList.length;i++){
				data.addRow([
					elementIdTypeMapList[i].id.toString(),              // 'Task ID'
					elementIdTypeMapList[i].id.toString(),                 // 'Task Name'
					new Date(2015, 0, 1),  // 'Start Date'
					new Date(2015, 0, 5),    // 'End Date'
					null,                     // 'Duration'
					70,              // 'Percent Complete'
					null                      // 'Dependencies'
					]);
			}
			//data.addRows([result]);

			var options = {
				height: 3000,
				width: 10000,
				gantt: {
					trackHeight: 30
				},
				explorer: {axis: 'vertical', keepInBounds: true}
			};
	
			var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
	
			chart.draw(data, options);
		}

		document.body.onload = function()
			{
				scene = new THREE.Scene();
				var canvas = document.getElementById("potreecanvas");
				var timeline = document.getElementById("timeline");
				var width = canvas.width;
				var height = canvas.height;

				var camera = new THREE.PerspectiveCamera(60, width / height, 0.1, 100000);
				camera.position.set(-200, 150, -200 );

				var renderer = new THREE.WebGLRenderer(
				{
					canvas: canvas,
					alpha: true,
					logarithmicDepthBuffer: true,
					context: null,
					precision: "highp",
					premultipliedAlpha: true,
					antialias: true,
					preserveDrawingBuffer: false,
					powerPreference: "high-performance"
				});

				scene.add(new THREE.AmbientLight(0x222222,5));

				var controls = new THREE.OrbitControls(camera, canvas);
				controls.autoRotate = false;
				controls.update();

				var raycaster = new THREE.Raycaster();
				raycaster.params.Points.threshold = 1e-2;
				var normalized = new THREE.Vector2();

				canvas.onmousemove = function(event)
				{
					normalized.set((event.clientX / canvas.width) * 2 - 1, -(event.clientY / canvas.height) * 2 + 1);
					raycaster.setFromCamera(normalized, camera);
				}

				canvas.ondblclick = function(event)
				{
					var intesects = raycaster.intersectObject(scene, true);
					
					
					if(intesects.length > 0)
					{
						var geometry = new THREE.SphereBufferGeometry(0.1, 32, 32);
						var material = new THREE.MeshBasicMaterial({color: 0xAA4444});
						var sphere = new THREE.Mesh(geometry, material);
						sphere.position.copy(intesects[0].point);
						scene.add(sphere);
					}
				}

				Potree.Global.workerPath = "./static/assets/source";
				



				
				var counter = 1;
				
				function loadPointCloud(url, position)
				{

					Potree.loadPointCloud(url, "pointcloud", function(e)
					{
						var points = new Potree.Group();
						points.setPointBudget(500000);
						points.name = "objectName" + String(counter);
						//points.material.opacity = 0.0;
						//points.material.wireframe = false;
						
						scene.add(points);
	
						var pointcloud = e.pointcloud;

						if(position !== undefined)
						{
							pointcloud.position.copy(position);
						}

						var material = pointcloud.material;
						material.size = 2;
						material.pointColorType = Potree.PointColorType.RGB; //RGB | DEPTH | HEIGHT | POINT_INDEX | LOD | CLASSIFICATION
						material.pointSizeType = Potree.PointSizeType.ADAPTIVE; //ADAPTIVE | FIXED
						material.shape = Potree.PointShape.SQUARE; //CIRCLE | SQUARE

						points.add(pointcloud);
					});
				}
				
				
				
				function loadPC(s){
					
					var points = new Potree.Group();
					points.name = "objectName" + String(counter);
					points.setPointBudget(10000000)
					scene.add(points);

					Potree.loadPointCloud(s, name, function(data)
					{
						var pointcloud = data.pointcloud;
						points.add(pointcloud);
					});
					//counter = counter+1;
				}
				
				function getElementType(element) {
					if (element == null || element.name == null || !validateElementName(element.name)) return null;

					var nameStringRegex = new RegExp("(^.*)_[0-9]*_Geometry$");
					var found = element.name.match(nameStringRegex);

					if (found == null || found.length === 0) return null;
					else return found[found.length - 1];
				}

				function getElementId(element) {
					if (element == null || element.name == null || !validateElementName(element.name)) return null;

					var nameStringRegex = new RegExp("^.*_([0-9]*)_Geometry$");
					var found = element.name.match(nameStringRegex);

					if (found == null || found.length === 0) return null;
					else return found[found.length - 1];
				}

				function validateElementName(nameString) {
					if (nameString == null || nameString.length === 0) return false;

					var nameStringRegex = new RegExp("^.*_[0-9]*_Geometry$");

					if (!nameStringRegex.test(nameString)) {
						console.log('Invalid namestring: ' + nameString);
					}

					return nameStringRegex.test(nameString);
				}
				
				function populateElements(mainObj) {
					mainObj.traverse(function (child) {
						if (child.isMesh) {
							let childId = getElementId(child);
							let childType = getElementType(child);
							let childName = child.name;

							if (childId != null && childType != null) {
								elementIdTypeMapList.push({
									'id': childId,
									'type': childType, 
									'name': childName
								});
							}
						}
					});
				}



				const loader = new THREE.ObjectLoader();
				loader.load(
					// resource URL
					"/static/assets/fbx/scene.json",

					// onLoad callback
					// Here the loaded data is assumed to be an object
					function ( obj ) {
						// Add the loaded object to the scene
						obj.position.set(-180, -100, 120);
						obj.name = "BIM";
						scene.add( obj );
						populateElements(obj);
						google.charts.setOnLoadCallback(drawChart)
						},

					// onProgress callback
					function ( xhr ) {
						console.log( (xhr.loaded / xhr.total * 100) + '% loaded' );
					},

					// onError callback
					function ( err ) {
						console.error( 'An error happened' );
					}
				);

				//var previous_value = -1;
				var count1 = 0;
				var count2 = 0;
				var count3 = 0;

				var lastTime = ( performance || Date ).now();
				var count = 0;
				function fpsUpdate() { 
					var currentTime = ( performance || Date ).now();
					// currentTime - lastTime is the number of milliseconds passed from last loop 
					var fps = 1000 / (currentTime - lastTime);
					lastTime = currentTime;
					count += 1;
					if(count == 30){
						count = 0;
						document.getElementById("frameRate").textContent = fps.toFixed(0);
					}
				}

				function loop()
				{
					controls.update();
					renderer.render(scene, camera);
					fpsUpdate();

					requestAnimationFrame(loop);
					

					if(timeline.value<=34){
						count3 = 0
						count2 = 0;
						count1 = count1 + 1;
						if(count1 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object); 
							//loadPC("clouds/cloud1/cloud.js");
							//console.log("log");
							loadPointCloud("https://mojtaba1995.github.io/clouds/cloud1/cloud.js", new THREE.Vector3(-198, -154, -16));
						}
						//
					}
					if(timeline.value>34 && timeline.value<=67){
						count3 = 0
						count1 = 0;
						count2 = count2 + 1;
						if(count2 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object); 
							//console.log("log");
							//loadPC("clouds/cloud2/cloud.js");
							loadPointCloud("https://mojtaba1995.github.io//clouds/cloud2/cloud.js", new THREE.Vector3(-210, -150, -17));
						}
						//
					}
					if(timeline.value>67){
						count1 = 0;
						count2 = 0
						count3 = count3 + 1;
						if(count3 == 1){
							var object = scene.getObjectByName("objectName" + String(counter));
							scene.remove(object); 
							//console.log("log");
							//loadPC("clouds/cloud2/cloud.js");
							loadPointCloud("https://mojtaba1995.github.io//clouds/cloud3/cloud.js", new THREE.Vector3(-196.6, -159, -24));
						}
						//
					}
					
				};
				loop();

				
				function resizeCanvas() {
					// var width = canvas.clientWidth;
					// var height = canvas.clientHeight;
					renderer.setSize($(canvas).width(),$(canvas).height());

				};
				resizeCanvas();
				document.body.onresize = function()
				{
					resizeCanvas();

				}
			};


		var bim = document.getElementById("bim");
        bim.addEventListener('change',function() {
            scene.getObjectByName("BIM").visible = !scene.getObjectByName("BIM").visible;
        });

		</script>


{% endblock content %}


